{% extends "website/base.html" %}
{% load crispy_forms_filters %}

{% block page_title %}Log in{% endblock %}
{% block header_title %}Log in{% endblock %}

{% block page %}

	<div class="form form--full-page">
		<header class="form__title">
			<h1><i class="material-icons">person</i> Log in</h1>
		</header>

		<p>
			Don't have an account? <a href="{% url "signup" %}">Sign up now!</a>
		</p>

		{% if form.errors %}
			<div class="alert alert-danger">
				<p>Your username and password didn't match. Please try again.</p>
			</div>
		{% endif %}

		{% if next %}
			{% if user.is_authenticated %}
				<p>Your account doesn't have access to this page. To proceed,
					please login with an account that has access.</p>
			{% else %}
				<div class="alert alert-info">
					<p>Please login to add a surprise. Don't have an account? <a href="{% url "signup" %}">Sign up here</a></p>
				</div>
			{% endif %}
		{% endif %}

		<form class="form__form" id="login-form" method="post" action="{% url 'django.contrib.auth.views.login' %}">
			<div class="form__fields">
				{% csrf_token %}
				{{ form | crispy }}
			</div>

			<div class="form__actions">
				<button type="submit">Log in</button>
				<input type="hidden" name="next" value="{{ next }}"/>
			</div>
		</form>
	</div>

{% endblock %}
