{% extends "website/base.html" %}
{% load crispy_forms_filters %}

{% block page %}

	{% if form.errors %}
		<div class="alert alert-danger">
		<p>Your username and password didn't match. Please try again.</p>
		</div>
	{% endif %}

	{% if next %}
		{% if user.is_authenticated %}
			<p>Your account doesn't have access to this page. To proceed,
				please login with an account that has access.</p>
		{% else %}
			<p>Please login to see this page.</p>
		{% endif %}
	{% endif %}

	<form id="login-form" method="post" action="{% url 'django.contrib.auth.views.login' %}">
		{% csrf_token %}
		{{ form | crispy }}

		<input type="submit" value="login" class="btn btn-primary"/>
		<input type="hidden" name="next" value="{{ next }}" />
	</form>

	{# Assumes you setup the password_reset view in your URLconf #}
{#	<p><a href="{% url 'password_reset' %}">Lost password?</a></p>#}

{% endblock %}
