{% extends "website/base.html" %}
{% load crispy_forms_filters %}

{% block page %}

	{% if form.errors %}
		<div class="alert alert-danger">
		<p>Your username and password didn't match. Please try again.</p>
		</div>
	{% endif %}

	{% if next %}
		{% if user.is_authenticated %}
			<p>Your account doesn't have access to this page. To proceed,
				please login with an account that has access.</p>
		{% else %}
			<div class="alert alert-info">
				<p>Please login to add a surprise. Don't have an account? <a href="{% url "signup" %}">Sign up here</a></p>
			</div>
		{% endif %}
	{% endif %}

	<div class="row">
	<div class="col-sm-6">
		<h2>Log in</h2>
		<form id="login-form" method="post" action="{% url 'django.contrib.auth.views.login' %}">
			{% csrf_token %}
			{{ form | crispy }}

			<input type="submit" value="login" class="btn btn-primary"/>
			<input type="hidden" name="next" value="{{ next }}" />
		</form>

		{# Assumes you setup the password_reset view in your URLconf #}
		{#	<p><a href="{% url 'password_reset' %}">Lost password?</a></p>#}
	</div>
	<div class="col-sm-6">
		<h2>Sign up</h2>
		<p>
			Don't have an account? <a href="{% url "signup" %}">Sign up now!</a>
		</p>
	</div>
	</div>


{% endblock %}
