<html>
<head>
	<title>Mirigata, the surprising link sharing site</title>
	<meta name="description" content="The place to share interesting and surprising links"/>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.5/paper/bootstrap.min.css">
</head>
<body>

<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="{% url "homepage" %}">Mirigata</a>
		</div>
	</div>
</nav>

<div class="container">

	{% if messages %}
			{% for message in messages %}
				<div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					{{ message }}
				</div>
			{% endfor %}
	{% endif %}

	{% block page %}
	{% endblock page %}

</div>
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>
</html>
