<html>
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>
<body>

<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="#">Mirigata</a>
		</div>
	</div>
</nav>

<div class="container">

	<div class="jumbotron">
		<h1>Welcome</h1>
		<p>
			Welcome to Mirigata, the surprising link sharing site.
		</p>
		<p>
			<a class="btn btn-primary btn-lg" href="#" role="button">Be surprised</a>
			<a class="btn btn-primary btn-lg" href="#" role="button">Add a surprise</a>
		</p>
	</div>

</div>
</body>
</html>
