{% extends "website/base.html" %}

{% block page %}

	{% if not object.link_exists %}
		<div class="alert alert-warning">
		This link no longer exists!
		</div>
	{% endif %}

	{% comment %} TODO: Use real layout {% endcomment %}

	<h1 class="page-header">{{ object.title|default:object.link }}</h1>

	{% if object.thumbnail_url %}
		<img src="{{ object.thumbnail_url }}">
	{% endif %}

	<p>
		<a href="{{ object.link }}">{{ object.link }}</a>
	</p>

	<p>
		{{ object.description }}
	</p>

	{% if object.author_name %}
		<p>
			Written by {{ object.author_name }}
		</p>
	{% endif %}


	{% if object.creator %}
		<p>
			Posted by {{ object.creator }}
		</p>
	{% endif %}

	<p>
		<a href="{% url "random-surprise" %}" class="btn btn-primary btn-lg">Surprise me again</a>
	</p>

{% endblock page %}
