.surprise__actions {
  a {
    @extend .mdl-button;
    @extend .mdl-button--colored;
  }
}

.surprise-detail {
  @extend .mdl-card;
  @extend .mdl-shadow--2dp;
  width: auto;
  margin: 16px;

  h1 {
    @extend .mdl-card__title;

    a {
      @extend .mdl-card__title-text;
      text-decoration: none;
    }
  }

  header {
    background-color: unquote("rgb(#{$color-accent})");
    h1 {
      color: white;
    }
    padding-top: 20px;
  }

  .surprise__votes {
    @extend .mdl-card__menu;

    a {
      @extend .mdl-button;
      color: white;
    }

    a.surprise__vote-up,
    a.surprise__vote-down {
      @extend .mdl-button--icon;
      color: white;
    }
  }

  .surprise__meta,
  .surprise__tags,
  .surprise__description {
    @extend .mdl-card__supporting-text;
  }

  .surprise__actions {
    @extend .mdl-card__actions;
    @extend .mdl-card--border;
  }
}

.surprise-headline {

  display: flex;
  header {
    flex: 1 1 auto;
    overflow: hidden;
  }
  footer {
    flex: 0 0 72px;

    display: flex;
    flex-flow: column;

    .surprise__comments-link {
      flex: 1 0 auto;
    }
  }

  .surprise__title {
    @include typo-body-2;
    font-size: 16px;
    margin: 0;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .surprise__comments-link {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;

    text-decoration: none;
  }
  .surprise__comments-text {
    display: none;
  }

  .surprise__comments-icon {
    font-size: 36px;
  }

  .surprise__author,
  .surprise__points {
    display: inline-block;
    padding-right: 8px;
    margin-right: 8px;
    border-right: 1px solid rgba(0, 0, 0, .12);
  }
}
