@charset "UTF-8";

@import "../../bower_components/material-design-lite/src/color-definitions";

$color-primary: $palette-orange-500;
$color-primary-dark: $palette-orange-700;
$color-accent: $palette-deep_purple-A100;

@import "../../bower_components/material-design-lite/src/material-design-lite";

.wrapper {
  @extend .mdl-layout;
  @extend .mdl-layout--fixed-header;
}

html {
  -webkit-font-smoothing: antialiased;
}

@import "mixins";
@import "header";
@import "tags";
@import "surprise";
@import "headlines";
@import "comments";
@import "forms";
@import "content";


// coming soon stuff
.card-coming-soon {
  margin: 40px auto;

  .mdl-card__title {
    background: $button-primary-color-alt;
    color: $button-secondary-color-alt;
    height: 88px;
  }
}
