@charset "UTF-8";

@import "../../bower_components/material-design-lite/src/color-definitions";

$color-primary: $palette-orange-500;
$color-primary-dark: $palette-orange-700;
$color-accent: $palette-deep_purple-A100;

@import "../../bower_components/material-design-lite/src/material-design-lite";

.wrapper {
  @extend .mdl-layout;
  @extend .mdl-layout--fixed-header;
}

@import "header";
@import "tags";
